In [35]:
import pandas as pd

In [36]:
data = pd.read_csv('MBP.csv')
data

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
...,...,...,...,...,...,...,...,...,...,...,...
1831,"Infinix Note 7 (Forest Green, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1832,"Infinix Note 7 (Bolivia Blue, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1833,"Infinix Note 7 (Aether Black, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1834,"Infinix Zero 8i (Silver Diamond, 128 GB)",4.2,"7,117",8 GB RAM,128 GB ROM,48MP + 8MP + 2MP + AI Lens Camera,16MP + 8MP Dual Front Camera,4500 mAh,MediaTek Helio G90T Processor,"₹18,999",2023-06-17
1835,"Infinix S5 (Quetzal Cyan, 64 GB)",4.3,"15,701",4 GB RAM,64 GB ROM,16MP + 5MP + 2MP + Low Light Sensor,32MP Front Camera,4000 mAh,Helio P22 (MTK6762) Processor,"₹10,999",2023-06-17

In [37]:
data.shape

(1836, 11)

In [38]:
data_info = pd.DataFrame(data.dtypes, columns=['Tipe'])
data_info['Unik'] = data.nunique()
data_info['null'] = data.isnull().sum()
data_info

                      Tipe  Unik  null
Phone Name          object  1507     0
Rating ?/5         float64    22     0
Number of Ratings   object   717     0
RAM                 object    46     0
ROM/Storage         object    27   174
Back/Rare Camera    object   174     9
Front Camera        object    33   401
Battery             object   102    10
Processor           object   332    55
Price in INR        object   519     0
Date of Scraping    object     1     0

In [39]:
data = data.drop(['Phone Name', 'Date of Scraping'], axis=1)

In [40]:
data["Number of Ratings"]=data["Number of Ratings"].str.replace(',', '')
data["Number of Ratings"]=data["Number of Ratings"].astype(int)

<b>RAM</b>

In [41]:
data['RAM'].unique()[:10]

array(['2 GB RAM', '4 GB RAM', '6 GB RAM', '3 GB RAM', '8 GB RAM',
       '12 GB RAM', '128 GB ROM', '64 GB ROM', '256 GB ROM', '512 GB ROM'],
      dtype=object)

In [42]:
data = data[data['RAM'].str.contains('GB RAM')]

In [43]:
data['RAM'] = data['RAM'].apply(lambda x: x.split()[0])
data['RAM'] = data['RAM'].astype(float)

<b>ROM/Storage</b>

In [44]:
data['ROM/Storage'].unique()

array(['32 GB ROM', '64 GB ROM', '128 GB ROM', '256 GB ROM', '512 GB ROM',
       '8 GB ROM', '16 GB ROM', '0.125 GB ROM', '4 GB ROM'], dtype=object)

In [45]:
data['ROM/Storage'] = data['ROM/Storage'].apply(lambda x: x.split()[0])
data['ROM/Storage'] = data['ROM/Storage'].astype(float)

<b>Battery</b>

In [46]:
data['Battery'].unique()[:10]

array(['5000 mAh', '4500 mAh', '4000 mAh', '5160 mAh', '6000 mAh',
       '5065 mAh', '4200 mAh', '4300 mAh', '4230 mAh', '3300 mAh'],
      dtype=object)

In [47]:
data['Battery'] = data['Battery'].apply(lambda x: x.split()[0])
data['Battery'] = data['Battery'].astype(float)

<b>Back/Rare Camera</b>

In [48]:
data['Back/Rare Camera'].unique()[:10]

array(['8MP Dual Camera', '50MP + 2MP', '8MP Dual Rear Camera',
       '50MP Dual Rear Camera',
       '50MP + 2MP Depth Sensor + 2MP Macro Sensor', '64MP + 8MP + 2MP',
       '48MP + 8MP + 2MP', '50MP + 8MP', '108MP + 8MP + 2MP',
       '48MP + 2MP + 2MP'], dtype=object)

In [49]:
data['Back/Rare Camera'] = [item.split()[0] for item in data['Back/Rare Camera']]
data['Back/Rare Camera'] = [value.upper() for value in data['Back/Rare Camera']]
data['Back/Rare Camera'] = [value.replace('MP', '') for value in data['Back/Rare Camera']]
data['Back/Rare Camera'] = [float(value) for value in data['Back/Rare Camera']]

<b>Front Camera</b>

In [50]:
data['Front Camera'].unique()[:10]

array(['5MP Front Camera', '8MP Front Camera', '16MP Front Camera',
       '13MP Front Camera', '20MP + 2MP Dual Front Camera',
       '20MP Front Camera', nan, '32MP + 8MP Dual Front Camera',
       '32MP Front Camera', '16MP + 8MP Dual Front Camera'], dtype=object)

In [51]:
data['Front Camera'] = data['Front Camera'].fillna('0')

In [52]:
data['Front Camera'] = [item.split()[0] for item in data['Front Camera']]
data['Front Camera'] = [value.replace('MP', '') for value in data['Front Camera']]
data['Front Camera'] = [float(value) for value in data['Front Camera']]

<b>Processor</b>

In [53]:
data['Processor'].unique()[:10]

array(['Mediatek Helio A22 Processor, Upto 2.0 GHz Processor',
       'Mediatek Dimensity 700 Processor', 'Helio G36 Processor',
       'Mediatek Helio G85 Processor', 'Mediatek Helio G99 Processor',
       'Mediatek Helio G96 Processor',
       'Qualcomm Snapdragon 695 Processor',
       'Mediatek Dimensity 810 Processor',
       'Qualcomm Snapdragon 778G Processor',
       'MediaTek Dimensity 700 Processor'], dtype=object)

In [54]:
data = data.dropna(subset=['Processor'])

In [55]:
def cat_processor(p):
    p = p.lower()
    if 'Dimensity' in p or 'Helio' in p or 'Mediatek' in p or 'MediaTek' in p:
        return 'mediatek'
    elif 'Snapdragon' in p:
        return 'snapdragon'
    elif 'Exynos' in p:
        return 'exynos'
    elif 'Google Tensor' in p:
        return 'Google Tensor'
    else:
        return 'others'

In [56]:
data['Processor'] = data['Processor'].apply(cat_processor)

<b>Price</b>

In [57]:
def replace_rupee(y):

    if '₹' in str(y):
        return float(y[1:].replace(',',''))
    else:
        return float(y)

In [58]:
data['Price in INR'] = data['Price in INR'].apply(replace_rupee)

In [59]:
data

,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
0,4.2,33561,2.0,32.0,8.0,5.0,5000.0,others,5649.0
1,4.2,77128,4.0,64.0,50.0,8.0,5000.0,others,11999.0
2,4.3,15175,4.0,64.0,8.0,5.0,5000.0,others,6999.0
3,4.2,22621,4.0,64.0,50.0,5.0,5000.0,others,7749.0
4,4.3,15175,4.0,64.0,8.0,5.0,5000.0,others,6999.0
...,...,...,...,...,...,...,...,...,...
1831,4.3,25582,4.0,64.0,48.0,16.0,5000.0,others,14999.0
1832,4.3,25582,4.0,64.0,48.0,16.0,5000.0,others,14999.0
1833,4.3,25582,4.0,64.0,48.0,16.0,5000.0,others,14999.0
1834,4.2,7117,8.0,128.0,48.0,16.0,4500.0,others,18999.0
1835,4.3,15701,4.0,64.0,16.0,32.0,4000.0,others,10999.0

In [60]:
Numerical_col=[]
Categorical_col=[]
for feature in data.columns:
    if data[feature].dtype!="object":
        Numerical_col.append(feature)
    else:
        Categorical_col.append(feature)

print(Categorical_col)
print(Numerical_col)

['Processor']
['Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage', 'Back/Rare Camera', 'Front Camera', 'Battery', 'Price in INR']

In [61]:
from scipy.stats.mstats import winsorize

for col in Numerical_col:
    data[col] = winsorize(data[col], limits=[0.05, 0.05])

In [62]:
from sklearn.preprocessing import LabelEncoder

encode = LabelEncoder()

for col in data[Categorical_col]:
    data[col] = encode.fit_transform(data[col])

In [63]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

columns_normalize = ['Price in INR']
for col in columns_normalize:
    data[col] = scaler.fit_transform(data[[col]])

In [64]:
data = data.drop_duplicates()

In [65]:
data.duplicated().sum()

0

In [66]:
data.isnull().sum()

Rating ?/5           0
Number of Ratings    0
RAM                  0
ROM/Storage          0
Back/Rare Camera     0
Front Camera         0
Battery              0
Processor            0
Price in INR         0
dtype: int64

In [67]:
data

,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
0,4.2,33561,2.0,32.0,8.0,5.0,5000.0,0,-1.103176
1,4.2,77128,4.0,64.0,50.0,8.0,5000.0,0,-0.658967
2,4.3,15175,4.0,64.0,8.0,5.0,5000.0,0,-1.103176
3,4.2,22621,4.0,64.0,50.0,5.0,5000.0,0,-1.036544
8,4.1,13647,6.0,128.0,50.0,5.0,5000.0,0,-0.903282
...,...,...,...,...,...,...,...,...,...
1825,4.2,8704,8.0,128.0,50.0,16.0,5000.0,0,-0.481283
1829,4.4,32752,2.0,32.0,13.0,8.0,6000.0,0,-0.925492
1831,4.3,25582,4.0,64.0,48.0,16.0,5000.0,0,-0.392442
1834,4.2,7117,8.0,128.0,48.0,16.0,4500.0,0,-0.037075
1835,4.3,15701,4.0,64.0,16.0,32.0,4000.0,0,-0.747809

In [68]:
data.to_csv('MBP_Clean.csv', index=False)