In [48]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv('STP.csv')
pd.set_option('display.max_columns', None)
data

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3(Target),index
0,0,GP,F,NaN,U,GT3,A,4.0,-inf,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,yes,no,no,4.0,NaN,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0,0
1,1,GP,F,-,U,GT3,T,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,-,NaN,3.0,2.0,9.0,-inf,11.0,1
2,2,GP,F,15.0,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,NaN,yes,no,no,no,yes,yes,yes,no,4.0,NaN,2.0,2.0,NaN,NaN,6.0,12.0,13.0,12.0,2
3,3,GP,F,15.0,U,GT3,T,4.0,NaN,health,services,home,mother,1.0,3.0,0.0,no,yes,no,yes,yes,yes,yes,yes,3.0,NaN,NaN,1.0,1.0,5.0,0.0,NaN,inf,NaN,3
4,4,GP,F,16.0,U,GT3,T,3.0,3.0,other,other,home,father,1.0,inf,0.0,no,yes,no,no,yes,yes,no,no,4.0,-inf,2.0,inf,2.0,5.0,0.0,NaN,13.0,13.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,1039,MS,M,20.0,U,LE3,A,2.0,2.0,services,services,course,other,NaN,NaN,NaN,no,yes,yes,no,yes,yes,no,no,5.0,5.0,NaN,4.0,5.0,4.0,NaN,9.0,-inf,9.0,1039
1040,1040,MS,M,17.0,U,LE3,T,3.0,1.0,services,services,course,mother,2.0,1.0,0.0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3.0,4.0,2.0,NaN,14.0,-inf,16.0,1040
1041,1041,MS,M,21.0,R,GT3,T,1.0,NaN,other,other,course,other,-inf,1.0,NaN,no,no,no,no,no,yes,no,no,inf,5.0,3.0,3.0,3.0,NaN,3.0,10.0,8.0,7.0,1041
1042,1042,MS,M,NaN,R,LE3,T,3.0,2.0,services,other,course,mother,3.0,1.0,0.0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3.0,4.0,5.0,0.0,11.0,12.0,10.0,1042
1043,1043,MS,M,19.0,U,LE3,T,1.0,-,other,at_home,course,father,1.0,NaN,0.0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3.0,inf,5.0,5.0,8.0,9.0,9.0,1043

In [50]:
data = data.drop(['Unnamed: 0', 'index'], axis=1)

In [51]:
unique_values = {col: data[col].unique() for col in data.columns}
for col, values in unique_values.items():
    print(f"{col}: {values}")

school: ['GP' 'MS']
sex: ['F' 'M']
age: [nan '-' '15.0' '16.0' '-inf' '17.0' 'inf' '19.0' '18.0' '22.0' '20.0'
 '21.0']
address: ['U' 'R']
famsize: ['GT3' 'LE3']
Pstatus: ['A' 'T']
Medu: ['4.0' '1.0' '3.0' '2.0' nan '-inf' '-' 'inf' '0.0']
Fedu: ['-inf' '1.0' nan '3.0' '2.0' '-' '4.0' 'inf' '0.0']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
reason: ['course' 'other' 'home' 'reputation']
guardian: ['mother' 'father' 'other']
traveltime: ['2.0' '1.0' nan '3.0' '-' 'inf' '-inf' '4.0']
studytime: ['2.0' '3.0' 'inf' nan '1.0' '-' '-inf' '4.0']
failures: ['0.0' nan '-inf' 'inf' '-' '3.0' '1.0' '2.0']
schoolsup: ['yes' 'no']
famsup: ['no' 'yes']
paid: ['no' 'yes']
activities: ['no' 'yes']
nursery: ['yes' 'no']
higher: ['yes' 'no']
internet: ['no' 'yes']
romantic: ['no' 'yes']
famrel: ['4.0' '5.0' '3.0' nan '-inf' '2.0' 'inf' '-' '1.0']
freetime: [nan '3.0' '-inf' '4.0' '1.0' '2.0' '5.0' 'inf' '-']
goout: ['4.0' '3.0' '2.0' nan '1.0' '5.0' '-' '-inf' 'inf']
Dalc: ['1.0' '-' '2.0' 'inf' nan '-inf' '3.0' '4.0' '5.0']
Walc: ['1.0' nan '2.0' '-' '3.0' 'inf' '4.0' '-inf' '5.0']
health: ['3.0' nan '5.0' '1.0' 'inf' '2.0' '4.0' '-inf' '-']
absences: ['4.0' '2.0' '6.0' '0.0' nan '10.0' 'inf' '8.0' '16.0' '-inf' '-' '12.0'
 '24.0' '22.0' '14.0' '32.0' '21.0' '15.0' '9.0' '18.0' '26.0' '7.0'
 '11.0' '5.0' '13.0' '3.0' '1.0' '25.0' '54.0' '20.0' '56.0' '75.0' '30.0'
 '19.0' '38.0' '40.0' '23.0' '17.0']
G1: ['0.0' '9.0' '12.0' nan '13.0' '10.0' '15.0' '14.0' '17.0' '11.0' '-'
 'inf' '16.0' '-inf' '8.0' '18.0' '7.0' '6.0' '5.0' '4.0' '19.0' '3.0']
G2: ['11.0' '-inf' '13.0' 'inf' '12.0' nan '14.0' '17.0' '8.0' '10.0' '15.0'
 '9.0' '16.0' '-' '7.0' '6.0' '18.0' '19.0' '0.0' '5.0' '4.0']
G3(Target): ['11.0' '12.0' nan '13.0' '17.0' '14.0' '15.0' '10.0' '16.0' '9.0' 'inf'
 '-inf' '8.0' '-' '18.0' '6.0' '0.0' '7.0' '5.0' '19.0' '20.0' '4.0']

In [52]:
data = data.replace(['inf', '-inf', '-'], np.nan)

In [53]:
data['age'] = pd.to_numeric(data['age'], errors='coerce')
data['Medu'] = pd.to_numeric(data['Medu'], errors='coerce')
data['Fedu'] = pd.to_numeric(data['Fedu'], errors='coerce')
data['traveltime'] = pd.to_numeric(data['traveltime'], errors='coerce')
data['studytime'] = pd.to_numeric(data['studytime'], errors='coerce')
data['failures'] = pd.to_numeric(data['Fedu'], errors='coerce')
data['famrel'] = pd.to_numeric(data['famrel'], errors='coerce')
data['freetime'] = pd.to_numeric(data['freetime'], errors='coerce')
data['goout'] = pd.to_numeric(data['goout'], errors='coerce')
data['Dalc'] = pd.to_numeric(data['Dalc'], errors='coerce')
data['Walc'] = pd.to_numeric(data['Walc'], errors='coerce')
data['health'] = pd.to_numeric(data['health'], errors='coerce')
data['absences'] = pd.to_numeric(data['absences'], errors='coerce')
data['G1'] = pd.to_numeric(data['G1'], errors='coerce')
data['G2'] = pd.to_numeric(data['G2'], errors='coerce')
data['G3(Target)'] = pd.to_numeric(data['G3(Target)'], errors='coerce')

In [54]:
Numerical_col=[]
Categorical_col=[]
for feature in data.columns:
    if data[feature].dtype!="object":
        Numerical_col.append(feature)
    else:
        Categorical_col.append(feature)

print(Categorical_col)
print(Numerical_col)

['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3(Target)']

In [55]:
data[Numerical_col] = data[Numerical_col].apply(lambda x: x.fillna(x.median()))

In [56]:
Q1 = data['G3(Target)'].quantile(0.25)
Q3 = data['G3(Target)'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = (data['G3(Target)'] < lower_bound) | (data['G3(Target)'] > upper_bound)
data = data[~outliers]

In [57]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
for col in Categorical_col:
    data.loc[:, col] = label_encoder.fit_transform(data[col])

In [58]:
churn_distribution = data['G3(Target)'].value_counts(normalize=True)
print(churn_distribution)

G3(Target)
11.0    0.339876
10.0    0.128099
13.0    0.096074
12.0    0.087810
14.0    0.076446
15.0    0.065083
8.0     0.055785
9.0     0.052686
16.0    0.040289
17.0    0.028926
6.0     0.016529
7.0     0.012397
Name: proportion, dtype: float64

In [59]:
data = data.drop_duplicates()

In [60]:
data.duplicated().sum()

0

In [61]:
data.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3(Target)    0
dtype: int64

In [62]:
data.to_csv('STP_Clean.csv', index=False)